<h3 class="moduleHeader">{{question.title}}</h3>
<ul class="list-unstyled">
  {{#if (if-eq question.type "select-dropdown")}}
    {{answer-tile/select saveTag=(route-action "saveTag" member chapter question option tag) question=question option=option tag=tag}}
  {{else}}
  {{#each question.options as |option|}}
    {{#if (if-eq question.type "input")}}
        <li class="question-answer">
          {{answer-tile/input updateTag=(route-action "updateTag" member chapter question option tag) option=option tag=tag}}
        </li>
    {{else if (if-eq question.type "select")}}
        <li class="question-answer">
          {{answer-tile saveTag=(route-action "saveTag" member chapter question option tag) question=question option=option tag=tag}}
        </li>
    {{/if}}
  {{/each}}
{{/if}}
</ul>
