{{#if isLocked}}
    <div class="lock-screen" style="padding-bottom: 150px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-md-offset-3">
                    <h3 class="moduleHeader">{{question.title}}</h3>
                    <div class="questionDescription">
                      {{{question.description}}}
                    </div>
                    <div class="lock-btn" {{action (route-action "resetTag" member chapter question 'null' tag)}}>
                        <img src="https://dl.dropboxusercontent.com/s/4h0sf56a7xlq9zr/lock.svg" />
                        <h1><span>Tap to update your answer</span></h1></div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

<h3 class="moduleHeader">{{question.title}}</h3>
<div class="questionDescription">
    {{{question.description}}}
</div>
<ul class="list-unstyled" style="margin-top: 24px">
  {{#if (if-eq question.type "select-dropdown")}}
    {{answer-tile/select saveTag=(route-action "saveTag" member chapter question 'null' tag) question=question option=option tag=tag}}
  {{else if (if-eq question.type "custom-height")}}
      <li class="question-answer">
        {{component 'answer-tile/custom-height' updateTagCustom=(route-action "updateTagCustom" member chapter question 'null' tag) member=member chapter=chapter question=question tag=tag}}
      </li>
  {{else if (if-eq question.type "custom-extra")}}
      <li class="question-answer">
        {{component 'answer-tile/custom-extra' updateTagCustom=(route-action "updateTagCustom" member chapter question 'null') member=member chapter=chapter question=question tag=tag}}
      </li>
  {{else}}
    {{#each question.options as |option|}}
      {{#if (if-eq question.type "input")}}
          <li class="question-answer">
            {{answer-tile/input updateTag=(route-action "updateTag" member chapter question option tag) option=option tag=tag}}
          </li>
      {{else if (if-eq question.type "custom-weight")}}
          <li class="question-answer">
            {{answer-tile/input updateTag=(route-action "updateTag" member chapter question option tag) option=option tag=tag placeholder="pounds"}}
          </li>
      {{else if (if-eq question.type "select")}}
          <li class="question-answer">
            {{answer-tile saveTag=(route-action "saveTag" member chapter question option tag) question=question option=option tag=tag}}
          </li>
      {{else if (if-eq question.type "select-multi")}}
          <li class="question-answer">
            {{answer-tile saveTag=(route-action "saveTag" member chapter question option tag) question=question option=option tag=tag}}
          </li>
      {{/if}}
    {{/each}}
  {{/if}}
</ul>
